@use "sass:math";

$gutter: 16px;

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: math.div(-$gutter, 2);
  margin-right: math.div(-$gutter, 2);
}

.col {
  width: 100%;
  padding-left: math.div($gutter, 2);
  padding-right: math.div($gutter, 2);
  flex: 1;

  @for $i from 1 through 12 {
    &.col-#{$i} {
      width: math.div($i, 12) * 100%;
    }
  }
}
